<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UEF Hello Localstorage!</title>
</head>
<body>
  <link rel="stylesheet" href="/static/style.css">
    <header>
      <h1>
        Hello World
      </h1>
    </header>
    <hr />
    <p>
      <!-- MBK LOCALSTORAGE Ref: https://www.tiny.cloud/blog/javascript-localstorage/ -->
      <h1>JavaScript localStorage demo</h1>
      <textarea id="myTextarea" rows="1" cols="25"></textarea>
      <p></p>
      <button onclick="mySave()">Save</button>
      <button onclick="myLoad()">Load</button>
    </p>
    <script>
      function mySave() {
        var myContent = document.getElementById("myTextarea").value;
        localStorage.setItem("myContent", myContent);
      }
      function myLoad() {
        var myContent = localStorage.getItem("myContent");
        document.getElementById("myTextarea").value = myContent;
      }
    </script>
</body>
</html>