<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UEF HelloWorld</title>
</head>
<body>
  <link rel="stylesheet" href="/static/style.css">
    <header>
      <h1>
        Hello World
      </h1>
    </header>
    <hr />
    <p>
      Welcome to the Ultra Extension Framework Python demo!
    </p>

    <p>coursesOrOrganizations is {{ coursesOrOrganizations }}</p>

    <button onClick="closePanel()">Close Panel</button>

    <script>
        function closePanel() {
            value = {
                type: 'portal:panel:close'
            }
            
            window.localStorage.setItem('event', JSON.stringify(value));
        };
    </script>
</body>
</html>